*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f3;
    min-height: 100vh;
}

.container{
    width:45%;
    height: 55vh;
    padding:10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1, -12px 12px 20px #ffffff;
}

.display #screen{
    outline: 0;
    border:0;
    width:97%;
    height: 70px;
    text-align: right;
    font-size: 35px;
    border-radius: 6px;
    padding:0 10px;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.btns{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns .row button{
    width:80px;
    height: 30px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    font-size: 16px;
    margin: 5px;
    box-shadow: 5px 5px 8px #adabab, -5px -5px 8px #ffffff;
}